

buttonStyle
  borderWidth: int
  borderRadius: int
  borderColor
    red: int
    green: int
    blue: int
  backgroundColor
    red: int
    green: int
    blue: int
  textColor
    red: int
    green: int
    blue: int
  fontSize: int
  fontFamily: string
